<h3>Parallel sessions.</h3>
These are the parallel hands-on workshops on Tuesday, Wednesday, & Thursday of the SSI-ML kickoff week.

Each morning we start with a plenary introduction in zoom before we move into the parallel sessions on Discord.

<div class="row">
    <div class="col-md-6">
      <h3>Day 2. Tuesday May 18th: Introduction to Version Control with Git. </h3>
      <table class="table table-striped">
            <tr>
              <td>09:30</td>
              <td>Version Control with Git</td>
            </tr>
            <tr>
              <td>10:15</td>
              <td>Coffee break</td>
            </tr>
            <tr>
              <td>10:30</td>
              <td>Version Control with Git (Continued)</td>
            </tr>
            <tr>
              <td>11:30</td>
              <td>Coffee break</td>
            </tr>
            <tr>
              <td>11:45</td>
              <td>Version Control with Git (Continued)</td>
            </tr>
            <tr>
              <td>12:30</td>
              <td>END</td>
            </tr>
      </table>
    </div>
    <div class="col-md-6">
      <h3>Day 2. Tuesday May 18th: Collaboration with Git and Github (basic Git knowledge needed).</h3>
      <table class="table table-striped">
        <tr> <td>09:30</td>  <td>Collaboration with Git and GitHub</td> </tr>
        <tr> <td>10:15</td>  <td>Coffee break</td> </tr>
        <tr> <td>10:30</td>  <td>Collaboration with Git and GitHub</td> </tr>
        <tr> <td>11:30</td>  <td>Coffee break</td> </tr>
        <tr> <td>11:45</td>  <td>Collaboration with Git and GitHub</td> </tr>
        <tr> <td>12:30</td>  <td>END</td> </tr>
      </table>
    </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>Day 3. Wednesday May 19th: Learning to program and analyse data with Python </h3>
    <table class="table table-striped">
      <tr> <td>09:30</td>  <td><a href="https://datacarpentry.org/python-ecology-lesson">Introduction to Python</a></td> </tr>
      <tr> <td>10:15</td>  <td>Coffee break</td> </tr>
      <tr> <td>10:30</td>  <td><a href="https://datacarpentry.org/python-ecology-lesson">Introduction to Python</a></td> </tr>
      <tr> <td>11:30</td>  <td>Coffee break</td> </tr>
      <tr> <td>11:45</td>  <td>Starting with Data in Python</td> </tr>
      <tr> <td>12:30</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 3. Wednesday May 19th: Introduction to Machine Learning with Python and scikit-learn </h3>
    <table class="table table-striped">
      <tr> <td>09:30</td>  <td>Intro and data preparation</td> </tr>
      <tr> <td>10:20</td>  <td>Coffee break</td> </tr>
      <tr> <td>10:30</td>  <td>Pipelines in scikit-learn</td> </tr>
      <tr> <td>11:20</td>  <td>Coffee break</td> </tr>
      <tr> <td>11:30</td>  <td>Cross validation and model selection</td> </tr>
      <tr> <td>12:30</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>Day 4. Thursday May 20th: Learning to program and analyse data with Python </h3>
    <table class="table table-striped">
      <tr> <td>09:30</td>  <td>Starting with Data in Python</td> </tr>
      <tr> <td>10:15</td>  <td>Coffee break</td> </tr>
      <tr> <td>10:30</td>  <td>Indexing, Slicing and Subsetting DataFrames in Python</td> </tr>
      <tr> <td>11:30</td>  <td>Coffee break</td> </tr>
      <tr> <td>11:45</td>  <td>Indexing, Slicing and Subsetting DataFrames in Python</td> </tr>
      <tr> <td>12:30</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 4. Thursday May 20th: Introduction to Deep Learning with Python and Keras </h3>
    <table class="table table-striped">
      <tr> <td>09:30</td>  <td>Introduction to Deep Learning and Keras </td> </tr>
      <tr> <td>10:20</td>  <td>Coffee break</td> </tr>
      <tr> <td>10:30</td>  <td>Creating a neural network for classification</td> </tr>
      <tr> <td>11:20</td>  <td>Coffee break</td> </tr>
      <tr> <td>11:30</td>  <td>Monitoring the training process</td> </tr>
      <tr> <td>12:30</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
